---
import Layout from '@layouts/Layout.astro';
import { info } from '@root/data.json';
const { dia } = Astro.params;

export const prerender = false;

const dayMatch = dia?.match(/\d+/g);
const day = dayMatch ? dayMatch[0] : null;

const post = info.find((poem) => {
    const fecha = new Date(poem.date).getDate();
    return fecha.toString() === day;
});

if (post) {
    const availableDay = new Date(post?.date);
    const Today = new Date();
    console.log(typeof Today);
    if (availableDay > Today) {
        return Astro.redirect('/espera-un-poco');
    }
}
---

<Layout title=`${post?.tittle}`>
    <div class='flex flex-row justify-between items-center mt-4'>
        <button class='text-xl mx-6' onclick='history.back()'>
            <img class='w-8 h-10 m-1' src='/svg/backArrow.svg' alt='back' />
        </button>
        <a
            class='text-lg bg-fuchsia-500 rounded-md p-2 hover:bg-fuchsia-700'
            href='/'>Volver al inicio</a
        >

        {
            day && (
                <a
                    class='text-xl mx-6'
                    href={`/dia/regalo-del-${Number(day) + 1}`}
                >
                    <img
                        class='w-8 h-10 m-1'
                        src='/svg/forwardArrow.svg'
                        alt='next page'
                    />
                </a>
            )
        }
    </div>
    <div
        class='flex flex-col justify-center items-center gap-4 my-16 mx-4 content-center'
    >
        <main
            class='flex flex-col justify-center items-center gap-4 my-0 mx-auto bg-fuchsia-800/60 p-4 rounded-md md:w-4/6 italic'
        >
            <h1 class='text-3xl'>{dia?.replace(/-/g, ' ')}</h1>

            <div
                class='rounded-md flex flex-col sm:flex-row-reverse justify-start items-center gap-8 p-2 sm:justify-around'
            >
                <p class='text-xl italic text-center text-balance sm:w-2/4'>
                    {post?.poem}
                </p>
                <div class='flex flex-col justify-start items-center gap-2'>
                    <a
                        class='grid grid-cols-1 justify-center items-center gap-2 text-balance text-lg rounded-md italic'
                        rel='noopener'
                        href={post?.giftLink}
                        target='_blank'
                    >
                        <img
                            class='object-cover rounded-md'
                            src={post?.backImagen}
                            alt={post?.tittle}
                        />
                        <div
                            class='flex flex-row justify-center items-center gap-2'
                        >
                            <img
                                class='w-8 h-auto'
                                src='/Spotify_icon.svg'
                                alt='spotify'
                            />
                            <span
                                >Reproducir cancion ' {
                                    post?.tittle.toLocaleLowerCase()
                                } '</span
                            >
                        </div>
                    </a>
                </div>
            </div>
        </main>
    </div>
</Layout>
