---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { info } from '../data.json';
---

<Layout title='Regalo de concierto'>
    <main class=''>
        {
            info.map((item) => {
                return (
                    <div class='flip-container'>
                        <div class='flipper'>
                            <div class='front'>
                                <Card
                                    date={item.date}
                                    imagen={item.FrontImagen}
                                    song={item.tittle}
                                />
                            </div>
                            <div class='back'>
                                <Card
                                    song={item.tittle}
                                    poem={item.poem}
                                    imagen={item.backImagen}
                                />
                            </div>
                        </div>
                    </div>
                );
            })
        }
    </main>
</Layout>

<style>
    main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        margin: 0 auto;
        padding: 1rem;
        width: 800px;
        max-width: calc(100% - 2rem);
        color: white;
        font-size: 20px;
        line-height: 1.6;
        height: 100%;
    }

    /* entire container, keeps perspective */
    .flip-container {
        perspective: 1000px;
    }
    /* flip the pane when hovered */
    .flip-container:hover .flipper,
    .flip-container.hover .flipper {
        transform: rotateY(180deg);
    }

    .flip-container,
    .front,
    .back {
        width: 320px;
        height: 420px;
    }

    /* flip speed goes here */
    .flipper {
        transition: 0.6s;
        transform-style: preserve-3d;
    }

    /* hide back of pane during swap */
    .front,
    .back {
        backface-visibility: hidden;

        position: absolute;
        top: 0;
        left: 0;
    }

    /* front pane, placed above back */
    .front {
        z-index: 2;
        /* for firefox 31 */
        transform: rotateY(0deg);
    }

    /* back, initially hidden pane */
    .back {
        transform: rotateY(180deg);
    }
</style>
