---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { info } from '../data.json';
---

<Layout title='Regalo de concierto'>
    <main>
        {
            info.map((item) => {
                return (
                    <Card
                        date={item.date}
                        imagen={item.FrontImagen}
                        backImage={item.backImagen}
                        song={item.tittle}
                        poem={item.poem}
                        giftLink={item.giftLink}
                        message={item.message}
                    />
                );
            })
        }
    </main>
</Layout>

<style>
    main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        color: white;
        font-size: 20px;
        line-height: 1.6;
        height: 100%;
        color-scheme: dark light;
    }
</style>
