---
import { Countdown } from "./CountDown";
import {calculateCountdown} from '@lib/countDown.ts'
interface Props {
  song: string;
  poem: string;
  date: string;
  imagen: string;
  backImage: string;
}
const { song, poem, date, imagen, backImage } = Astro.props;
const weekday = [
  "Sunday",
  "Monday",
  "Tuesday",
  "Wednesday",
  "Thursday",
  "Friday",
  "Saturday",
];
const month = [
  "January",
  "February",
  "March",
  "April",
  "May",
  "June",
  "July",
  "August",
  "September",
  "October",
  "November",
  "December",
];
const monthName = month[new Date(date).getMonth()];
const fecha = new Date(date).getDate();
const day = weekday[new Date(date).getDay()];
const dayName = day;

const countDownFinish = calculateCountdown(date) === null? false : true 
---

<div class="card">
  <article
    class="card-front bg-cover bg-center rounded-md flex flex-col justify-between"
    style=`background-image: url(${imagen}); `
  >
    <div class="flex flex-col items-center bg-black/80 rounded p-1 w-fit h-max ">
      <h1 class="text-xl w-10/12">
        Poema disponible el dia: {dayName}
        {fecha}
        {monthName}
      </h1>
      <Countdown date={date} client:only="react" />

      <button disabled={countDownFinish} >prueba </button>
    </div>

  </article>

  <article
    class="card-back bg-cover bg-center rounded-md h-full p-2 flex flex-col justify-between"
    style=`background-image: url(${backImage}); `
  >
  <div class="flex flex-col items-center bg-black/80 rounded p-1  ">  
    <h2>{song}</h2>
    <p class="text-pink-500 italic">
      {poem}
    </p>
    <button class="rounded-md bg-green-600" >prueba </button>
    <a
      rel="noopener"
      href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
      target="_blank"
    >
      escucha la cancion
    </a>
  </div>
  </article>
</div>

<style>
  /* CSS */
  .card {
    width: 200px;
    height: 300px;
    position: relative;
    cursor: pointer;
    perspective: 1000px;
    transform-style: preserve-3d;
    transition: rotate 300ms linear;
  }

  .card.show {
    rotate: y 180deg;
  }

  .card-front,
  .card-back {
    padding: 0.5em;
    position: absolute;
    inset: 0;
    display: grid;
    place-content: center;
    backface-visibility: hidden;
  }

  .card-back {
    rotate: y 180deg;
  }
</style>

<script>
  const cards = document.querySelectorAll(".card");
  cards.forEach((card) => {
    const buttons = card.querySelectorAll("button");

    buttons.forEach((button) => {
      button.addEventListener("click", () => {
        card.classList.toggle("show");
      });
    });
  });
</script>
