---
import { Countdown } from './CountDown';
import { calculateCountdown } from '@lib/countDown.ts';
interface Props {
    song: string;
    poem: string;
    date: string;
    imagen: string;
    backImage: string;
    indexControl?: number;
    giftLink?: string;
    message: string;
}
const { song, date, imagen, backImage, giftLink, message } = Astro.props;
const weekday = [
    'Domingo',
    'Lunes',
    'Martes',
    'Miercoles',
    'Jueves',
    'Viernes',
    'Sabado',
];
const month = [
    'January',
    'February',
    'March',
    'abril',
    'May',
    'June',
    'July',
    'August',
    'September',
    'October',
    'November',
    'December',
];
const monthName = month[new Date(date).getMonth()];
const fecha = new Date(date).getDate();
console.log(fecha);
const day = weekday[new Date(date).getDay()];

const countDownFinish = calculateCountdown(date) === null ? false : true;
---

<div class='card'>
    <article
        class='card-front bg-cover bg-center rounded-md flex flex-col justify-between'
        style=`background-image: url(${imagen}); `
    >
        <div
            class='flex flex-col items-center bg-black/70 rounded-md p-1 h-[500px] justify-evenly sm:w-[21.5em]'
        >
            <h2 class='text-2xl w-10/12 text-balance text-center'>
                Regalo disponible el dia: {day}
                {fecha} de
                {monthName}
            </h2>
            <Countdown date={date} client:only='react' />
            {
                !countDownFinish && (
                    <button
                        class='rounded-md bg-pink-500 p-1 hover:bg-pink-700 w-20'
                        disabled={countDownFinish}
                    >
                        Abrir
                    </button>
                )
            }
        </div>
    </article>

    <article
        class='card-back bg-cover bg-center rounded-md h-full p-2 flex flex-col justify-between'
        style=`background-image: url(/img/001.webp); `
    >
        <div
            class='flex flex-col items-center bg-black/80 rounded-md h-[520px] justify-evenly sm:w-[21.5em] gap-1'
        >
            <h2 class='text-2xl w-10/12 text-balance text-center'>
                La cancion de hoy es: <br />{song}
            </h2>
            <a
                class='flex flex-row justify-center items-center gap-2 text-xl'
                rel='noopener'
                href={giftLink}
                target='_blank'
            >
                <img src='/Spotify_icon.svg' alt='spotify' />
                Reproducir cancion
            </a>
            <p class='text-pink-500 italic text-2xl'>
                {message}
            </p>

            <a
                href={`/dia/regalo-del-${fecha}`}
                class='rounded-md bg-pink-500 p-[0.5rem] hover:bg-pink-700 text-2xl'
            >
                ir al regalo
            </a>
        </div>
    </article>
</div>

<style>
    /* CSS */
    .card {
        width: 450px;
        height: 550px;
        position: relative;
        perspective: 1000px;
        transform-style: preserve-3d;
        transition: rotate 400ms linear;
    }

    .card.show {
        rotate: y 180deg;
    }

    .card-front,
    .card-back {
        padding: 0.5em;
        position: absolute;
        inset: 0;
        display: grid;
        place-content: center;
        backface-visibility: hidden;
    }

    .card-back {
        rotate: y 180deg;
    }
    img {
        width: 1.5rem;
        height: 1.5rem;
    }

    p {
        margin: 0 0.5rem;
        max-width: 15.2em;
        min-width: 12.2em;
        text-align: center;
    }

    @media screen and (max-width: 768px) {
        p {
            max-width: 15.5em;
        }
    }
</style>

<script>
    document.addEventListener('astro:page-load', () => {
        const cards = document.querySelectorAll('.card');
        cards.forEach((card) => {
            const buttons = card.querySelectorAll('button');

            buttons.forEach((button) => {
                button.addEventListener('click', () => {
                    card.classList.toggle('show');
                });
            });
        });
    });
</script>
